@keyframes appearance {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animateHeart {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotateValidator {
    0% {
        opacity: 0;
        transform: rotate(360deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

@keyframes loaderAnimate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
