$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$font-color-dark: #000;
$font-color-white: #FFF;
$font-color-gray: #8a8989;

$linear-gradient: linear-gradient(to top, $primary-color, $secondary-color);
$linear-gradient-light: linear-gradient(to top, lighten($primary-color, 5%), lighten($secondary-color, 15%));
$linear-gradient-right: linear-gradient(to right, $primary-color, $secondary-color);
$linear-gradient-heart: linear-gradient(to bottom, $primary-color, $secondary-color);

$main-bg-color: #FFF;
$section-bg-color: #f6f6f6;

$breakpoint: (tablet: 768px, mdTablet: 998px, desktop: 1280px, mdScreen: 1400px, lgScreen: 1600px);