.about {
    background: $section-bg-color;
    text-align: center;
    width: 100%;
    padding: 2rem;
    & h2 {
        font-weight: bold;
    }
    & div > p,
    & p {
        color: $font-color-gray;
        font-family: RobotoLigth, sans-serif;
    }
    &__btn {
        color: $font-color-white;
        padding: 1rem 1.2rem;
        border-radius: 1.5rem;
        text-decoration: none;
        background: $linear-gradient;
        cursor: pointer;
        transition: all 500ms ease-in-out;
        @include boxShadow($offsetX: 2px, $offSetY: 3px, $blur: 6px, $spreadRadius: 0, $color: #aaa);
        &:hover {
            color: $font-color-dark;
            background: $linear-gradient-light;
            @include boxShadow($offsetX: 3px, $offSetY: 4px, $blur: 7px, $spreadRadius: 0, $color: #aaa);
        }
    }
}
