.btn {
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    color: white;
    background: rgb(255,121,218);
    background: linear-gradient(180deg, rgba(255,121,218,0.9962359943977591) 25%, rgba(147,86,220,1) 100%, rgba(5,101,247,0) 100%);
}