.working {
    padding: 0 2rem;
    &__title {

    }
    &__choice {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 1rem;
        @include tablet {
            column-gap: 1em;
            flex-wrap: nowrap;
        }
        @include desktop {
            column-gap: 2.5em;
            flex-wrap: nowrap;
        }
        &--notify {
            position: absolute;
            left: 0;
            top: 50%;
            width: 30px;
            height: 30px;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background: $primary-color;
        }
        &--notify p {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: $font-color-white;
        }
        &--icon {
            margin: 0 2rem;
            color: $font-color-gray;
        }
        &_card {
            display: flex;
            flex-basis: 100%;
            align-items: center;
            position: relative;
            padding: 2rem;
            margin: 1.5rem 0;
            border-radius: 1rem;
            background: $main-bg-color;
            font-family: Roboto, sans-serif;
            @include boxShadow($inset: false, $offsetX: 2px, $offSetY: 2px, $blur: 4px, $spreadRadius: 0, $color: #aaa);
            @include tablet {
                flex-basis: 100%;
            }
            &:hover {
                cursor: pointer;
                background: lighten($primary-color, 35%);
                @include boxShadow($inset: false, $offsetX: 4px, $offSetY: 4px, $blur: 8px, $spreadRadius: 0, $color: #aaa);
            }
            &:hover > div > .working__choice--icon {
                color: $primary-color
            }
        }
    }
}
